#school{
    overflow:hidden;
    width:100vw;
    max-width:65rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    cursor:default;
}

.schoolTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}


.schoolBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.schoolBar{
    display:flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: white;
}


.schoolBarText>p{
    color:black;
    font-size: 0.9rem;
    font-weight: 200;

}

.schoolBarText>h2{
    color: black;
    font-weight: 200;
}

@media screen and (max-width:720px){
    .schoolBarText>p{
        font-size: 2vw;
    }
}

@media screen and (max-width:480px){
    .schoolBarText>p{
        font-size: 3vw;
    }
    .schoolBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .schoolBarText>h2{
        font-size: 5vw;
    }
}